.connect {
  padding: $padding 0 26rem;
  background-color: rgb( 255, 173, 42 );
  background-image: -moz-linear-gradient( -50deg, rgb( 255, 173, 42 ) 0%, rgb( 246, 146, 60 ) 30.249%, rgb( 235, 109, 84 ) 60.498%, rgb( 227, 87, 100 ) 100%);
  background-image: -webkit-linear-gradient( -50deg, rgb( 255, 173, 42 ) 0%, rgb( 246, 146, 60 ) 30.249%, rgb( 235, 109, 84 ) 60.498%, rgb( 227, 87, 100 ) 100%);
  // height: 119rem;
  transform: skewY(-4.2deg);
  margin-top: -7rem;
}

.skew-connect {
  transform: skewY(4.2deg);
}

.connect-us {
  width: 100%;
  position: relative;

  &__img {
    width: 60rem;
    height: 38.2rem;
  
    border: 4px solid #fff;
      background: url(../img/min/connect.jpg);
      background-size: cover;
  }

  &__form {
    padding: 4.5rem 4rem;
    background-color: #fff;
    width: 61.4rem;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    box-shadow: -9.526px -5.5px 13px 0px rgba( 0, 0, 0, .3 );
    display: flex;
    flex-direction: column;
  }

  &__input {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 2.2rem;
    padding: 1.4rem 1.6rem;
    background-color: $bg-light3;
    border: none;
  }

  &__text {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    padding: 1.4rem 1.6rem;
    background-color: $bg-light3;
    border: none;
    height: 17.2rem;
    margin-bottom: 3.2rem;
  }
}


@media only screen and (max-width: 1170px) {
  
  .skew-connect {
    height: 70rem;
    // width: 100%;
  }
  
  .connect-us {
    // width: 60rem;
    height: auto;
  
    &__img {
      display: none;
    }
  
    &__form {
      transform: translateX(-50%);
      left: 50%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .connect {
    padding: $padding-min 0 26rem;
  }
}

@media only screen and (max-width: 600px) {
  .connect-us {

  
    &__form {
      padding: 4.5rem 4rem;
      background-color: rgb(255, 255, 255);
      
      width: 90vw;

      box-shadow: -9.526px -5.5px 13px 0px rgba( 0, 0, 0, .3 );
    }
  
    &__input {
      font-family: 'Raleway', sans-serif;
      font-size: 1.6rem;
      margin-bottom: 2.2rem;
      padding: 1.4rem 1.6rem;
      background-color: $bg-light3;
      border: none;
    }
  
    &__text {
      box-sizing: border-box;
      font-family: 'Raleway', sans-serif;
      font-size: 1.6rem;
      padding: 1.4rem 1.6rem;
      background-color: $bg-light3;
      border: none;
      height: 17.2rem;
      margin-bottom: 3.2rem;
    }
  }
}