.footer {
  background-color: $bg-dark1;
  height: 20.5rem;
  position: relative;
  z-index: 10;
  margin-top: -7rem;
  padding: 7.4rem 0;
  box-sizing: border-box;
  color: $color-light1;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.9rem;
}