.review {
  padding: $padding 0;
  background-color: #fff;
}

.single-item {
  max-width: 97rem;
  margin: 8rem auto;

  .slick-prev, .slick-next {
    width: 5rem;
    height: 10rem;
  }

  .slick-prev {
    left: -8rem;
    // color: red;
  }

  .slick-next {
    right: -8rem;
  }

  .slick-prev::before, .slick-next::before {
    font-family: 'slick';
    font-size: 50px;
    line-height: 1;
    opacity: .75;
    color: $bg-dark2;
    background-color: transparent;

  }

  .slick-prev::before {
    content: "<i class="fas fa-chevron-left"></i>";
    
  }

  .slick-next::before {
    content: "<i class="fas fa-chevron-right"></i>";
  }
}

.card5 {
  max-width: 97rem;
  display: flex;
  align-items: center;
  // margin: 0 auto;


  &__img {
    width: 25.4rem;
    height: 25.4rem;
    border-radius: 50%;
    background-color: grey;
    margin-right: 3rem;
    border: 1rem solid $bg-dark2;
  }

  &__img1 {
    background: url(../img/min/face1.jpg);
    background-size: cover;
  }

  &__img2 {
    background: url(../img/min/face2.jpg);
    background-size: cover;
  }

  &__img3 {
    background: url(../img/min/realtor-2.jpeg);
    background-size: cover;
  }


  .card5-body {
    max-width: 67rem;

    &__head {
      font-size: 2.2rem;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 3.2rem;
    }

    &__text {
      font-size: 1.6rem;
      line-height: 2.6rem;
      margin-bottom: 2.6rem;
    }

    &__star {
      font-size: 2.4rem;
      color: $color-peach;
      margin-right: 1.3rem;
    }
  }
}

@media only screen and (max-width: 1170px) {
  .card5 {
    flex-direction: column;

    &__img {
      margin-bottom: 5rem;
    }
  }  
}

@media only screen and (max-width: 800px) {
  .review {
    padding: $padding-min 0;
  }

  .single-item {
    width: 350px;
    margin: 8rem auto;
  }

  .card5 {
    width: 350px;
    // margin: 0 auto;
  }
  .card5-body {
    width: 350px;
  }
}