.team {
  padding: $padding 0;
  background-color: #fff;

}

.staff {
  background-color: $color2;
  width: 100%;
  height: 35.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card2 {



  &__img {
    background-color: grey;
    width: 25.6rem;
    height: 22.2rem;
  }

  &__img1 {
    background: url(/img/min/realtor-1.jpeg);
    background-size: cover;
  }

  &__img2 {
    background: url(/img/min/realtor-2.jpeg);
    background-size: cover;
  }

  &__img3 {
    background: url(/img/min/realtor-3.jpeg);
    background-size: cover;
  }

  &__img4 {
    background: url(/img/min/face2.jpg);
    background-size: cover;
  }
  
  &__body {
    background-color: $color-peach;
    padding: 1.6rem 1.8rem;

  }
  &__name {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: $color-light1;
    // line-height: 1.85;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__position {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    color: $color1;
  }
}

.social {
  margin: 0;
  list-style: none;

  &__img {
    display: inline-block;
    color: inherit;
  }

  &__img:not(:last-child) {
    margin-right: 1.2rem;
  }
}

.card2 .fab {
  color: $color-light1;
}


@media only screen and (max-width: 1170px) {
  .staff {
    background-color: $color2;
    width: 60rem;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .card2 { 
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 1170px) {
  .card2__body {
    padding: 1.6rem 1.4rem;
  }

}


@media only screen and (max-width: 800px) {
  .team {
    padding: $padding-min 0;
  }
}

@media only screen and (max-width: 500px) {
  .staff {
    width: 100%;
    background-color: #fff;
  }

  .card2 { 
    margin: 2rem 1rem;
  }
}
